@import "tailwindcss";

@theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-primary: #00e5ff;
    --color-secondary: #bf00ff;
    --color-accent: #00ff9d;
    --color-muted: #1f1f1f;

    --font-mono: "Fira Code", "JetBrains Mono", monospace;
    --font-sans: Inter, sans-serif;
}

@utility bg-background {
    background-color: var(--color-background);
}

@utility text-foreground {
    color: var(--color-foreground);
}

body {
    @apply bg-background text-foreground antialiased font-sans overflow-hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-muted);
}

::-webkit-scrollbar-thumb {
    background-color: #52525b;
    /* zinc-600 */
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #71717a;
    /* zinc-500 */
}